* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
  background: url("./assest/cover.jpg");
  background-size: cover;
}

.centered {
  margin: 3rem auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.focused {
  font-size: 3rem;
  font-weight: bold;
  color: white;
}

.btn {
  text-decoration: none;
  background-color: #856161;
  color: white;
  border-radius: 4px;
  padding: 0.75rem 1.5rem;
  border: 1px solid #856161;
  cursor: pointer;
}

.btn:hover,
.btn:active {
  background-color: #b86262;
  color: white;
}

.btn--flat {
  cursor: pointer;
  font: 1.8rem;
  color: #b86262;
  border: none;
  background-color: none;
  text-decoration: none;
  padding: 0.75rem 1.5rem;
  border-radius: 4px;
  border: 1px solid white;
}

.btn--flat:hover,
.btn--flat:active {
  background-color: #b86262;
  color: white;
}

.m1 {
  margin-right: 1rem;
}
